{% extends 'layout.html' %}
{% block body %}
<section>
    <div class="authorsContainer">
        <div class="authorInfo">
            <img src="/images/authors/schopenhauer.png" alt="schopenhauer"
                style="width: 200px; height: 259px; padding-left: 50px; padding-top: 40px;">
            <span class="authorBiography" style="margin-top: 20px; margin-left: 35px;">Arthur Schopenhauer was a German
                <br>
                philosopher, considered one of the
                <br>
                most brilliant of the nineteenth
                <br>
                century and most important in
                <br>
                Western philosophy, being the
                <br>
                maximum representative of 
                <br>
                philosophical pessimism.
                <br><br>
                <p style="color: #4aa96c; font-weight: bold;">
                    22/feb/1788 - 21/sep/1860
                </p>
            </span>
        </div>
        <div class="verticalDivider" style="height: 1250px; margin-left: 45px;"></div>
        <div class="philosophyBooksContainer">
            <span class="textTitles">
                <div id="classicBooks" style="margin-top: 20px;">
                    <div class="classicBooksImages">
                        <div class="tooltip">
                            <span class="tooltipText" style="left: 39%;">
                                <p class="tooltipTextFont">
                                    The book parts of the premise of the limitation of human knowledge about the
                                    things that surround them.
                                </p>
                            </span>
                            <img src="/images/world-as-will.jpg" alt="world-as-will" style="width: 250px;">
                        </div>
                        <div class="classicBooksTitle">
                            <p style="font-size: 22px;">The World as Will and
                                <br>
                                Representation
                            </p>
                            <div class="classicBooksDescription">
                                <p style="font-size: 16px;"><i>"The world is my representation"</i>
                                    <br>
                                    Year: 1819
                                </p>
                                <button type="button" class="downloadButton" style="margin-top: 30px;">Download EBook</button>
                            </div>
                        </div>
                    </div>
                    <div class="classicBooksImages">
                        <div class="tooltip">
                            <span class="tooltipText" style="left: 45%;">
                                <p class="tooltipTextFont">
                                    The book is about Schopenhauer's scattered thoughts, though systematically
                                    ordered, on various topics.
                                </p>
                            </span>
                            <img src="/images/parerga.jpg" alt="parerga-paralipomena"
                                style="width: 250px; padding-left: 35px;">
                        </div>
                        <div class="classicBooksTitle">
                            <p style="font-size: 22px; padding-left: 35px; padding-top: 14px;">Parerga and Paralipomena</p>
                            <div class="classicBooksDescription" style="padding-left: 35px;">
                                <p style="font-size: 16px; margin-bottom: 25px; margin-top: 34px;"><i>"Outline of a history of the
                                        doctrine
                                        <br>
                                        of the ideal and the real"</i>
                                    <br>
                                    Year: 1851
                                </p>
                                <button type="button" class="downloadButton">Download EBook</button>
                            </div>
                        </div>
                    </div>
                    <div class="classicBooksImages">
                        <div class="tooltip">
                            <span class="tooltipText" style="left: 45%;">
                                <p class="tooltipTextFont">
                                    The book has a powerful and controversial philosophical principle stipulating that 
                                    everything must have a reason or cause. 
                                </p>
                            </span>
                            <img src="/images/fourfold-reason.jpg" alt="fourfold-reason"
                                style="width: 250px; padding-left: 35px;">
                        </div>
                        <div class="classicBooksTitle">
                            <p style="font-size: 22px; padding-left: 35px;">On the Fourfold Root of the 
                                <br>
                                Principle of Sufficient Reason</p>
                            <div class="classicBooksDescription" style="padding-left: 35px;">
                                <p style="font-size: 16px; margin-bottom: 25px;"><i>"To know causality is the sole 
                                    <br>
                                    function of the understanding"</i>
                                    <br>
                                    Year: 1847
                                </p>
                                <button type="button" class="downloadButton" style="margin-top: 2px;">Download EBook</button>
                            </div>
                        </div>
                    </div>
                    <div class="classicBooksImages">
                        <div class="tooltip">
                            <span class="tooltipText" style="left: 45%;">
                                <p class="tooltipTextFont">
                                    The book is about Schopenhauer's interpretation of western ethics, and embarks 
                                    on a criticism of Kant's foundation of ethics.
                                </p>
                            </span>
                            <img src="/images/basis-morality.jpg" alt="basis-morality"
                                style="width: 250px; padding-left: 35px;">
                        </div>
                        <div class="classicBooksTitle">
                            <p style="font-size: 22px; padding-left: 35px;">On the Basis of the Morality</p>
                            <div class="classicBooksDescription" style="padding-left: 35px;">
                                <p style="font-size: 16px; margin-bottom: 25px;"><i>"the true basis of morality is
                                    <br>
                                    compassion or sympathy."</i>
                                    <br>
                                    Year: 1840
                                </p>
                                <button type="button" class="downloadButton" style="margin-top: 2px;">Download EBook</button>
                            </div>
                        </div>
                    </div>
                    <div class="classicBooksImages">
                        <div class="tooltip">
                            <span class="tooltipText" style="left: 45%;">
                                <p class="tooltipTextFont">
                                    The book asserts that there are three types of freedom, namely, physical, intellectual, and moral.
                                </p>
                            </span>
                            <img src="/images/freedom-will.jpg" alt="freedom-will"
                                style="width: 250px; padding-left: 35px;">
                        </div>
                        <div class="classicBooksTitle">
                            <p style="font-size: 22px; padding-left: 35px;">On the Freedom of the Will</p>
                            <div class="classicBooksDescription" style="padding-left: 35px;">
                                <p style="font-size: 16px; margin-bottom: 25px;"><i>"Is it possible to demonstrate human 
                                    <br>
                                    free will from self-consciousness?"</i>
                                    <br>
                                    Year: 1839
                                </p>
                                <button type="button" class="downloadButton" style="margin-top: 2px;">Download EBook</button>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>
</section>
{% endblock %}