.logoContainer {
    display: flex;
    justify-content: center;
    align-items:center;
}

.logoImage {
    display: inline;
    width: 10%;
    height: 10%;
    padding-right: 10px;
}

.logoText {
    display: inline;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

.menuBar {
    overflow: hidden;
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}
  
.menuBar a {
    float: left;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropdownButton {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.menuBar a.active {
    background-color: #E3B5A4;
    color: #000000;
}
  
.menuBar a:hover, .dropdown:hover .dropdownButton {
    background-color: #D44D5C;
}
  
.dropdownList {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdownList a {
    float: none;
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdownList a:hover {
    background-color: #E3B5A4;
    color: #000000;
}
  
.dropdown:hover .dropdownList {
    display: block;
}

.menuBar .searchContainer {
    float: right;
}
  
.menuBar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
  
.menuBar .searchContainer button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #E3B5A4;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.menuBar .searchContainer button:hover {
    background: #D44D5C;
    color: #FFFFFF;
}
  
@media screen and (max-width: 600px) {
    .menuBar .searchContainer {
      float: none;
    }

    .menuBar a, .menuBar input[type=text], .menuBar .searchContainer button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #E3B5A4;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.textTitles {
    color: #4E4F50;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.bodyText {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}