<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    {% if wrongCredentials %}
        <p>WRONG USER</p>
    {% endif %}
    <div class="pageContainer" style="width: 464px; height: 540px;">
        <div class="containerElements">
            <p class="loginTitle">Member Login</p>
            <form action="{{ url_for('userLogin') }}" style="margin-top: 80px; text-align: center;" method="POST">
                <input type="text" name="userName" placeholder="User name" class="loginField" style="margin-bottom: 30px;"><br>
                <input type="password" name="userPassword" placeholder="Password" class="loginField"><br>
                <button type="submit" class="loginButton">Login</button>
            </form>
        </div>
    </div>
</body>
</html>