<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<body>
    <div class="pageContainer" style="width: 950px; margin-top: 25px;">
        <div class="containerElements">
            {% if type == 'insertUsers' %}
                <p class="pageTitle">Add new user</p>
                <form action="{{ url_for('submitNewUser') }}" style="margin-top: 50px; text-align: center;" method="POST">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="warningMessage">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <label for="" class="inputLabel">Username:</label>
                    <input type="text" name="userName" placeholder="" class="inputField" style="margin-bottom: 30px; margin-right: 50px;">
                    <label for="" class="inputLabel">Password:</label>
                    <input type="password" name="userPassword" placeholder="" class="inputField"><br>
                    <button type="submit" class="submitButton" style="margin-bottom: 50px;">Add</button>
                </form>
            {% elif type == 'insertBooks' %}
                <p class="pageTitle">Add new book</p>
                <form name="newBookInfo" action="{{ url_for('submitNewBook') }}" style="margin-top: 50px; text-align: center;" method="POST" onsubmit="getBookImagePath()">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="warningMessage">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <label for="" class="inputLabel">Title:</label>
                    <input type="text" name="bookTitle" placeholder="" class="inputField" style="margin-bottom: 30px; margin-right: 50px;">
                    <label for="" class="inputLabel">Author:</label>
                    <input type="text" name="bookAuthor" placeholder="" class="inputField"><br>
                    <label for="" class="inputLabel">Section:</label>
                    <input type="text" name="bookSection" placeholder="" class="inputField" style="margin-bottom: 30px; margin-right: 50px;">
                    <label for="" class="inputLabel">Type:</label>
                    <input type="text" name="bookType" placeholder="" class="inputField"><br>
                    <label for="" class="inputLabel">Year:</label>
                    <input type="text" name="bookYear" placeholder="" class="inputField" style="margin-bottom: 30px; margin-right: 50px;">
                    <label for="" class="inputLabel">Download URL:</label>
                    <input type="text" name="bookDownloadUrl" placeholder="" class="inputField"><br>
                    <label for="" class="inputLabel">Best Book:</label>
                    <input type="text" name="bestBook" placeholder="1 - Yes / 0 - No" class="inputField" style="margin-bottom: 30px; margin-right: 30px;">
                    <label for="" class="inputLabel">Classic Book:</label>
                    <input type="text" name="classicBook" placeholder="1 - Yes / 0 - No" class="inputField" style="margin-bottom: 30px; margin-right: 30px;"><br>
                    <label for="" class="inputLabel">Image:</label>
                    <input type="file" name="bookImage" placeholder="" style="margin-bottom: 30px; margin-right: 30px;"><br>
                    <input type="hidden" name="bookImageSrc" value="">
                    <label for="" class="inputLabel">Description:</label><br>
                    <textarea name="bookDescription" rows="4" cols="50" class="inputField"></textarea><br>
                    <button type="submit" class="submitButton">Add</button>
                </form>
            {% elif type == 'insertAuthors' %}
                <p class="pageTitle">Add new author</p>
                <form name="newAuthorInfo" action="{{ url_for('submitNewAuthor') }}" style="margin-top: 50px; text-align: center;" method="POST" onsubmit="getAuthorImagePath()">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="warningMessage">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <label for="" class="inputLabel">Author name:</label>
                    <input type="text" name="authorName" placeholder="" class="inputField" style="margin-bottom: 30px; margin-right: 50px;">
                    <label for="" class="inputLabel">Section:</label>
                    <input type="text" name="authorSection" placeholder="" class="inputField"><br>
                    <label for="" class="inputLabel">Birth / Death date:</label>
                    <input type="text" name="authorDate" placeholder="" class="inputField" style="margin-bottom: 30px; margin-right: 30px;"><br>
                    <label for="" class="inputLabel">Image:</label>
                    <input type="file" name="authorImage" placeholder="" style="margin-bottom: 30px; margin-right: 30px;"><br>
                    <input type="hidden" name="authorImageSrc" value="">
                    <label for="" class="inputLabel">Brief biography:</label><br>
                    <textarea name="authorDescription" rows="4" cols="50" class="inputField"></textarea><br>
                    <button type="submit" class="submitButton" style="margin-bottom: 50px;">Add</button>
                </form>
            {% elif type == 'deactivateUsers' %}
                <p class="pageTitle">Deactivate user</p>
                <form action="{{ url_for('deactivateUser') }}" style="margin-top: 50px; text-align: center;" method="POST">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="warningMessage">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <label for="" class="inputLabel">User name:</label>
                    <input type="text" name="userName" placeholder="" class="inputField" style="margin-bottom: 30px; margin-right: 50px;"><br>
                    <button type="submit" class="submitButton" style="margin-bottom: 50px;">Deactivate</button>
                </form>
            {% elif type == 'deactivateBooks' %}
                <p class="pageTitle">Deactivate book</p>
                <form action="{{ url_for('deactivateBook') }}" style="margin-top: 50px; text-align: center;" method="POST">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="warningMessage">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <label for="" class="inputLabel">Book title:</label>
                    <input type="text" name="bookTitle" placeholder="" class="inputField" style="margin-bottom: 30px; margin-right: 50px;"><br>
                    <button type="submit" class="submitButton" style="margin-bottom: 50px;">Deactivate</button>
                </form>
            {% elif type == 'deactivateAuthors' %}
                <p class="pageTitle">Deactivate author</p>
                <form action="{{ url_for('deactivateAuthor') }}" style="margin-top: 50px; text-align: center;" method="POST">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="warningMessage">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <label for="" class="inputLabel">Author name:</label>
                    <input type="text" name="authorName" placeholder="" class="inputField" style="margin-bottom: 30px; margin-right: 50px;"><br>
                    <button type="submit" class="submitButton" style="margin-bottom: 50px;">Deactivate</button>
                </form>
            {% elif type == 'updateUsers' %}
                <p class="pageTitle" style="margin-bottom: 50px;">Update user</p>
                <form action="{{ url_for('updateUser') }}" style="margin-top: 50px; text-align: center;" method="POST">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="warningMessage">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <label for="" class="inputLabel">User name:</label>
                    <input type="text" name="userName" placeholder="" class="inputField" style="margin-bottom: 10px; margin-right: 50px;"><br>
                    <button type="submit" class="submitButton" style="margin-bottom: 50px;">Search</button>
                </form>
            {% elif type == 'updateBooks' %}
                <p>UPDATE BOOKS</p>
            {% elif type == 'updateAuthors' %}
                <p>UPDATE AUTHORS</p>
            {% elif type == 'listUsers' %}
                <table style="margin-bottom: 30px;">
                    <tr>
                        <th>User Name</th>
                        <th>User Password</th>
                    </tr>
                    {% for user in usersTableInfo %}
                        <tr>
                            <td>{{ user[0] }}</td>
                            <td>{{ user[1] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% elif type == 'listBooks' %}
                <table style="margin-bottom: 30px; font-size: 12px;">
                    <tr>
                        <th>Author</th>
                        <th>Book Cover</th>
                        <th>Section</th>
                        <th>Brief Description</th>
                        <th>Download URL</th>
                        <th>Is On Best Section</th>
                        <th>Is On Classic Section</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Year</th>
                    </tr>
                    {% for book in booksTableInfo %}
                        <tr>
                            <td>{{ book[0] }}</td>
                            <td><img src="{{ book[1] }}" style="width: 50px;" alt=""></td>
                            <td>{{ book[2] }}</td>
                            <td>{{ book[3] }}</td>
                            <td><a href="{{ book[4] }}" target="_blank">{{ book[4] }}</a></td>
                            {% if book[5] == 0 %}
                                <td>No</td>
                            {% else %}
                                <td>Yes</td>
                            {% endif %}
                            {% if book[6] == 0 %}
                                <td>No</td>
                            {% else %}
                                <td>Yes</td>
                            {% endif %}
                            <td style="font-weight: bold;">{{ book[7] }}</td>
                            <td>{{ book[8] }}</td>
                            <td>{{ book[9] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% elif type == 'listAuthors' %}
                <table style="margin-bottom: 30px; font-size: 16px;">
                    <tr>
                        <th>Author Image</th>
                        <th>Birth / Death Date</th>
                        <th>Brief Description</th>
                        <th>Name</th>
                        <th>Section</th>
                    </tr>
                    {% for author in authorsTableInfo %}
                        <tr>
                            <td><img src="{{ author[0] }}" style="width: 50px;" alt=""></td>
                            <td>{{ author[1] }}</td>
                            <td>{{ author[2] }}</td>
                            <td style="font-weight: bold;">{{ author[3] }}</td>
                            <td>{{ author[4] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <table style="margin-bottom: 30px;">
                    <tr>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Request Email</th>
                        <th>Request Name</th>
                    </tr>
                    {% for request in requestTableInfo %}
                        <tr>
                            <td>{{ request[0] }}</td>
                            <td>{{ request[1] }}</td>
                            <td>{{ request[2] }}</td>
                            <td>{{ request[3] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <a style="text-decoration:none;" href="{{ url_for('adminPage') }}">
                <img src="/static/images/icons/home.png" style="width: 100px; margin-left: 780px;" 
                onmouseover="this.src='/static/images/icons/home-hover.png'"
                onmouseout="this.src='/static/images/icons/home.png'"></a>
                <p class="buttonName" style="display: inline-block; margin-left: 785px; font-size: 20px;">
                    Main page</p>
        </div>
    </div>
    <script>
        function getBookImagePath() {
            var Form = document.forms["newBookInfo"];
            var inputName = Form.elements["bookImage"].value;

            Form.elements["bookImageSrc"].value = inputName;
        }

        function getAuthorImagePath() {
            var Form = document.forms["newAuthorInfo"];
            var inputName = Form.elements["authorImage"].value;

            Form.elements["authorImageSrc"].value = inputName;
        }
    </script>
</body>
</html>