{% extends 'layout.html' %}
{% block body %}
<section>
    <div class="authorsContainer">
        <dl class="booksList">
            <dt>Authors</dt>
            {% for author in authors %}
                <dd style="margin-bottom: 8px;"><a href="/authorBooks/{{ author[1] }}">{{ author[1] }}</a></dd>
            {% endfor %}
        </dl>
        <div class="verticalDivider" style="height: 1100px;"></div>
        <div class="sectionBooksContainer">
            <span class="title" style="margin-left: 440px;">
                Best {{ section }} Books
            </span>
            <span class="textTitles">
                <div id="classicBooks" style="margin-top: 40px;">
                    {% for book in bestBooks %}
                    <div class="classicBooksImages">
                        <div class="tooltip">
                            <span class="tooltipText" style="left: 39%;">
                                <p class="tooltipTextFont">
                                    {{ book[5] }}
                                </p>
                            </span>
                            <img src="{{ book[9] }}" alt="book-image" style="width: 250px;">
                        </div>
                        <div class="classicBooksTitle">
                            <p style="font-size: 22px;">{{ book[1] }}</p>
                            <div class="classicBooksDescription">
                                <p style="font-size: 16px;"><i>{{ book[8] }}</i>
                                    <br>
                                    {{ book[3] }}
                                </p>
                                <button type="button" class="downloadButton" onclick="location.href='{{ book[4] }}'">Download EBook</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </span>
        </div>
    </div>
</section>
{% endblock %}