{% extends 'layout.html' %}
{% block body %}
<section>
    <span class="textTitles">
        <p>Classic books of the week</p>
        <hr>
        <div id="classicBooks">
            {% for book in classicBooks %}
            <div class="classicBooksImages">
                <div class="tooltip">
                    <span class="tooltipText" style="left: 39%;">
                        <p class="tooltipTextFont">
                            {{ book[5] }}
                        </p>
                    </span>
                    <img src="{{ book[9] }}" alt="book-image" style="width: 250px;">
                </div>
                <div class="classicBooksTitle">
                    <p style="font-size: 22px;">{{ book[1] }}</p>
                    <div class="classicBooksDescription">
                        <p style="font-size: 16px;">
                            Author: {{ book[2] }}
                            <br>
                            <i>Type: {{ book[8] }}</i>
                            <br>
                            Year: {{ book[3] }}
                        </p>
                        <button type="button" class="downloadButton" onclick="location.href='{{ book[4] }}'">Download EBook</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </span>
</section>
{% endblock %}