<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/books.css">
    <link rel="stylesheet" href="css/homeBooks.css">
    <title>Book Store</title>
</head>

<body>
    <header>
        <div class="logoContainer">
            <img src="images/Books-illustration.png" class="logoImage" alt="">
            <span class="logoText">
                Book Store</a>
            </span>
        </div>
    </header>
    <section>
        <div class="menuBar">
            <a href="/">Home</a>
            <div class="dropdown">
                <button class="dropdownButton">EBooks</button>
                <div class="dropdownList">
                    <a href="#">Science Fiction</a>
                    <a href="#">Philosophy</a>
                    <a href="#">Novels</a>
                </div>
            </div>
            <a href="/contact.html">Contact Us</a>
            <div class="searchContainer">
                <input type="text" placeholder="Search a book here" name="search">
                <button type="submit">Search</button>
            </div>
        </div>
    </section>
    <section>
        <div class="authorsContainer">
            <dl class="booksList">
                <dt>Pessimism</dt>
                <dd><a href="philosophyAuthors/arthurSchopenhauer.html">Arthur Schopenhauer</a></dd>
                <dt>Nihilism</dt>
                <dd><a href="philosophyAuthors/friedrichNietzsche.html">Friedrich Nietzsche</a></dd>
                <dt>Moral and Ethics</dt>
                <dd><a href="url">Immanuel Kant</a></dd>
                <dd><a href="url">Aristotle</a></dd>
                <dd><a href="url">Plato</a></dd>
                <dd><a href="url">Socrates</a></dd>
                <dd><a href="url">Spinoza</a></dd>
                <dd><a href="url">Friedrich Hegel</a></dd>
                <dt>Politics</dt>
                <dd><a href="url">Thomas Hobbes</a></dd>
                <dt>Religion</dt>
                <dd><a href="url">Thomas Aquinas</a></dd>
                <dd><a href="url">Augustine of Hipo</a></dd>
                <dt>Sociology</dt>
                <dd><a href="url">Zygmunt Bauman</a></dd>
            </dl>
            <div class="verticalDivider" style="height: 1100px;"></div>
            <div class="philosophyBooksContainer">
                <span class="title" style="margin-left: 440px;">
                    Best philosophy books
                </span>
                <span class="textTitles">
                    <div id="classicBooks" style="margin-top: 40px;">
                        <div class="classicBooksImages">
                            <img src="images/republic.jpg" alt="republic" style="width: 250px;">
                            <div class="classicBooksTitle">
                                <p style="font-size: 22px;">The Republic</p>
                                <div class="classicBooksDescription">
                                    <p style="font-size: 16px;">Author: Plato
                                        <br>
                                        Year: 375 BC
                                        <br>
                                        Political philosophy
                                    </p>
                                    <button type="button" class="downloadButton" style="margin-bottom: 10px;">Download EBook</button>
                                </div>
                            </div>
                        </div>
                        <div class="classicBooksImages">
                            <img src="images/beyond-good-evil.jpg" alt="beyond-good-evil" style="width: 250px; padding-left: 35px;">
                            <div class="classicBooksTitle">
                                <p style="font-size: 22px; padding-left: 35px;">Beyond Good and Evil</p>
                                <div class="classicBooksDescription" style="padding-left: 35px;">
                                    <p style="font-size: 16px;">Author: Friedrich Nietzsche
                                        <br>
                                        Year: 1886
                                        <br>
                                        Moral philosophy
                                    </p>
                                    <button type="button" class="downloadButton" style="margin-bottom: 10px;">Download EBook</button>
                                </div>
                            </div>
                        </div>
                        <div class="classicBooksImages">
                            <img src="images/critique-pure-reason.jpg" alt="critique-pure-reason" style="width: 250px; padding-left: 35px;">
                            <div class="classicBooksTitle">
                                <p style="font-size: 22px; padding-left: 35px;">Critique of Pure Reason</p>
                                <div class="classicBooksDescription" style="padding-left: 35px;">
                                    <p style="font-size: 16px;">Author: Immanuel Kant
                                        <br>
                                        Year: 1781
                                        <br>
                                        Metaphysics
                                    </p>
                                    <button type="button" class="downloadButton" style="margin-bottom: 10px;">Download EBook</button>
                                </div>
                            </div>
                        </div>
                        <div class="classicBooksImages" style="margin-top: 50px;">
                            <img src="images/meditations.jpg" alt="meditations" style="width: 250px; padding-left: 35px;">
                            <div class="classicBooksTitle">
                                <p style="font-size: 22px; padding-left: 35px;">Meditations</p>
                                <div class="classicBooksDescription" style="padding-left: 35px;">
                                    <p style="font-size: 16px;">Author: Marcus Aurelius
                                        <br>
                                        Year: 161 - 180 CE
                                        <br>
                                        Stoicism
                                    </p>
                                    <button type="button" class="downloadButton">Download EBook</button>
                                </div>
                            </div>
                        </div>
                        <div class="classicBooksImages" style="margin-top: 50px;">
                            <img src="images/sisyphus-myth.jpg" alt="sisyphus-myth" style="width: 250px; padding-left: 35px;">
                            <div class="classicBooksTitle">
                                <p style="font-size: 22px; padding-left: 35px;">The Myth of Sisyphus</p>
                                <div class="classicBooksDescription" style="padding-left: 35px;">
                                    <p style="font-size: 16px;">Author: Albert Camus
                                        <br>
                                        Year: 1942
                                        <br>
                                        Absurdism
                                    </p>
                                    <button type="button" class="downloadButton">Download EBook</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </section>
    <footer>
        <p>Natasha Mora
            <br>
            Programación de Internet e Intranet - UNIVA 2021
        </p>
    </footer>
</body>

</html>